/* ------ General ------ */
#movieAndList {
    display: flex;
    justify-content: center;
    gap: 5.5vh;
}

#credit {
    background-color: transparent;
    text-decoration: underline;
}

/* ------ Lists ------ */
#lists {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* ------ Films ------ */
#movies {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 6vh;
}

#movies .movie {
    display: flex;
    height: 39vh;
    margin-top: 0;
    position: relative;
    cursor: pointer;
    border: 1vh ridge red;
}

#movies img {
    width: 27vh;
}

/* --- Movies' Info --- */
#movies .movieInfo {
    background-color: black;
    width: 20.4vh;
    height: 35.4vh;
    bottom: 0%;
    right: 0%;
    padding-left: 1vh;
    padding-right: 2vh;
    position: absolute;
    opacity: 0;
    border-radius: 3vh 0vh 0vh 0vh;
    transition: .5s ease-in-out;
    overflow: auto;
}

#movies .movie:hover .movieInfo {
    opacity: 1;
    transition: .5s ease-in-out;
}

#movies .movie:hover > img {
    filter: blur(2px);
}

#movies .movie:hover .favorite {
    filter: blur(0px);
}

#movies h2 {
    margin-bottom: 0%;
    margin-top: 1vh;
    font-size: 3vh;
}

#movies p {
    font-size: 1.75vh;
}

#movies .subTitle {
    font-size: 1.5vh;
    margin-top: 0%;
}

/* --- Favorite's Button --- */
#movies .favorite {
    background-color: white;
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 50%;
    position: absolute;
    left: 0.5vh;
    top: 0.5vh;
}

#movies .favorite img {
    width: 3vh;
}